@charset "utf-8";
/* CSS Document */

@media all and (max-width:1700px){/*1680 * 1050*/
    
    
}

@media all and (max-width:1460px){/*1440 * 900*/


   
    
}

@media all and (max-width:1400px){
    
    
}

@media all and (max-width:1380px){/*1366*/

	.cInvest-con table tr td:first-child .type{font-size:18px;line-height:24px;margin:15px 0 0;}
	.cInvest-con table tr td .con{line-height:24px;font-size:14px;}



}

@media all and (max-width:1300px){/*1280 * 800*/



   
}

@media all and (max-width:1280px){

	.contain{width:100%;padding:0 2%;}
	
	.Hnav>li{padding:0 .2rem;}
	
	.mainItem-ctry.mIctry-CN .mItemCtry-CN{float:none;margin:0 auto;}
	.mainItem-ctry.mIctry-CN .mItemCtry-box{float:none;clear:both;margin:30px auto 0;}
	
	.com-pro .contain{padding:95px 4% 102px;}
	
	.news-nav .contain{padding:0 35px;}
	.newsNavSwiper-prev{left:0px;}
	.newsNavSwiper-next{right:0px;}
	
	.CIapp-show{margin:0;}
	.CIapp-box{width:60%;}
	
	.tDvptStruc-list .tdStruc-icon{width:80px;height:80px;}
	.tDvptStruc-list .name{margin:20px 0 0;}
	
	.tDvptIntro-modal .tdIntroModal-contain{width:82%;}
	
	.Com-list .item-left,.Com-list .item-right{float: left;width: 50%;height: 380px;  padding: 10% 5%;}
	
}

@media all and (max-width:1260px){/*1260*/

	.media-modal .mediaModal-contain{width:90%;max-height:90%;margin-left:-45%;}

}

@media all and (max-width:1200px){ /*1200*/

	.cTeamModal-contain{width:80%;}
	
	.CIpwrSta-map{float:none;margin:50px auto 0;}
	.CIpwrSta-box{float:none;margin:100px auto 0;}
	
	.tDvptIdea-block{width:28%;}

	.Contact-ways{max-width: 1100px;}
	.Contact-ways .way-item{width: 50%;}
}

@media all and (max-width:1100px){/*1024 * 768 */

	.Hnav .Hname{font-size:13px;}
	.Hlang{padding:0 10px;}
	.Hlang .Hlang-cur{padding:0 0 0 23px;font-size:14px;background-size:16px auto;}
	.Hsrch .Hsrch-menu{width:45px;background-size:15px auto;}
	
	.IDS-code{padding:20px 0 0 5.3333%;}
	
	.pBnr-box{padding:0 4%;}
	
	.cInvest-con{width:92%;}
    
}

@media all and (max-width:980px){/*web*/
	
	html{font-size:50.1563px;}

	img{max-width:100%;}
	
	/*-- Header --*/
	.header-container{padding:0 2%;height:50px;}
	.Header-wrapper .Header-cl,
	.header-container,
	.Hlogo,
	.Hlang .Hlang-cur,
	.Hsrch .Hsrch-menu,
	.Hsrch, 
	.Hlang{height:50px;}
	.Hlogo,
	.Hlang .Hlang-cur{line-height:50px;}
	.Hlogo img{height:30px;}
	
	.Hlang{position:static;}
	.H-lang .H-lang-menu{width:40px;font-size:0px;background-position:center center;transition:none !important;-webkit-transition:none !important;}
	.H-lang-box{width:100%;box-shadow:none;top:50px;}
	.H-lang-box:after{display:none;}
	
	
	.Hlang,
	.Hsrch{padding:0px;border:0px;margin:0 0 0 10px;}
	.Hsrch:before{content:"";display:block;width:1px;height:40%;background:#ccc;position:absolute;left:0px;top:30%;}
	.Hsrch-box{width:100%;border-top:1px solid #ccc;position:fixed;top:50px;}
	
	.Hmenu-btn{display:block;}
	
	.Hnav{display:none;width:100%;background:#fff;border-top:1px solid #ccc;position:fixed;top:50px;left:0px;margin:0px;}
	.Hnav>li{width:100%;padding:0px;margin:0px;float:none;}
	.Hnav .Hname{padding:0 2%;height:45px;line-height:44px;border-bottom:1px solid #e1e1e1;}
	
	.Hn2nd-dd,
	.Hn2nd-img{display:none !important;}
	.Hn2nd-box{width:100%;padding:0px;position:relative;top:0px;right:0px;}
	.Hn2nd-list{width:100%;float:none;}
	.Hn2nd-list li{width:100%;padding:0px;}
	.Hn2nd-list li a{padding:0 6%;background-position:4% center;}
	
	.Header-wrapper.Header-page .Header-cl{display:block !important;}
	.Header-wrapper.Header-page .header-container{position:fixed !important;}
	
	.page-nav{background:#000;position:relative !important;top:0px !important;}
	.page-nav a{padding:.4rem .28rem;}
	
	
	#index-bnr{display:none;}
	#index-webBnr{display:block;}
	#index-webBnr .bnr-img{height:17.1rem;}
	/*-- Footer --*/
	.footer-container{padding:1.02rem 0 1rem;}
	.Fnav{width:20%;margin-right: 0;    min-height: 320px;text-align: center;}
	.Fcode{padding:0px;width:auto;border:0px;float:left;clear:both;margin:.5rem 0 0;    text-align: center;}
	.footer-btm{padding:.34rem 4% .28rem;text-align:center;}
	.footer-btm .Flink{display:block;float:none;margin:5px auto 0;}
	.footer-btm .Fcr{font-size:12px;line-height:20px;}
	
	

	.picDataModal-action{position:relative;right:0px;}
	.picDataModal-action .btn{float:left;}
	
	.video-container{padding:1.12rem 0 2rem;}
	.video-list li{width:50%;}


	.index-media { padding: 1.63rem 0 1.9rem;}
	/*首页企业文化*/


	.index-news .news-tab a{width: 30%;}
	.news-swiper .news-block .left{width:100%;float: none;margin-right: 0;position: relative;margin-bottom: 10px;padding: 5px;}
	.news-swiper .news-block .right{width:100%;float: none;margin-left: 0;position: relative;padding: 5px}

	.news-swiper .swiper-line{margin-top:40px;}
	.news-swiper .swiper-button-prev{left:46.5%;}
	.news-swiper .swiper-button-next{right:46.5%;}
	.index-product .product-swiper {
	    margin-top: 1rem;
	    margin-bottom: 1.4rem;
	}
.product-swiper .page-number{margin-bottom: .4rem;}
	.index-product .product-item .left {
	    width: 100%;
	    margin-right: 0;
	    float: none;
	    margin-bottom: 20px;
	}
	.index-product .product-item .right {
    	width: 100%;
	    margin-right: 0;
	    float: none;
	}
	.news-swiper .news-block .left img{height: 350px;}
	.index-product .product-item .more-btn {
    display: block;
    margin: 20px auto 0;
   width: 198px;
    height: 56px;
    background: url(../images/icon/more_btn.png) no-repeat;
    background-size:100% ;
}
	.index-product  .product-item  .cure_img{height: 400px;    width: 100%;}
	.product-swiper .swiper-button-prev{
			width: 40px;
			height: 40px;
			background-image:url(../images/icon/icon_prev.png);
			background-size:40px 40px ;
		}
		.product-swiper .swiper-button-next{
			width: 40px;
			height: 40px;
			background-image:url(../images/icon/icon_next.png);
			background-size:40px 40px ;
		}
		.index-product  .product-item .p-name{
			height: 40px;
			line-height: 40px;
			font-size: 20px;
		}
		
	
	.Modules{padding-top: 0.56rem;}
	.Modules .title{font-size: 30px;margin-bottom: .32rem;margin-top: .56rem;}
	.Modules .Msub{width: 60px;height: 4px;}
	.Modules .Msub::after{height: 4px;width: 30px;}
	.Modules .desc{font-size: 14px;line-height: 25px;margin-top: .32rem;margin-bottom: .52rem;}
	.Pro-desc{margin-bottom: .35rem;}

	.Column-tab.tab-fixed{top: 50px;}
	.Column-tab.fixed {top: 50px;}
	.Column-tab a {     padding: 0px .34rem 0 .6rem;color: #777;font-size: 14px;border-right: 1px solid #ccc;position: relative;}
	.Column-tab .ico {width: 20px;height: 20px; display: block; position: absolute; left: 5px; bottom: 0;}
	.Pro-list-wrapper .item-box{float: left;margin-bottom:.8rem;border: 1px solid #ddd;}
	.Banner-wrapper{height: 4.28rem;min-height:300px;}
	.Banner-wrapper h4{font-size: 30px;padding-top: 1.55rem;margin-bottom: .22rem;}
	.Banner-wrapper .Hsub{width: 30px;height: 3px;}
	.Banner-wrapper p{font-size:18px;color: #FFFFFF;margin-top: .32rem;    letter-spacing: 2px;}
	
	.platform{margin: 20px 0;    height: auto;}
	.platform .img-box{width: 100%;float: none;height: auto;}
	.platform .content{width:100%;float: none;min-height: 200px;padding: 15px;}
	
	.Contact-banner{}
	.Com-detail .com-desc{margin: .7rem 0;}
	.Com-list .item-left,.Com-list .item-right{float: left;width: 50%;height: 300px;  padding: 8% 5%;}
	
	.Contact-map{margin-top: .4rem;margin-bottom: .8rem;}
	.Contact-ways{max-width: 940px; margin-top: .6rem;}
	.Contact-ways .way-item{width: 50%;}
	.Contact-ways .way-item h4{font-size: 23px;}
	.company-list{margin-top: 30px;overflow: hidden;zoom: 1;}
	.company-list .company{width: 100%;float: left;/*height: 200px;*/margin-bottom: 20px;}
	.company-list .company.odd{padding-right: 0px;}
	.company-list .company.even{padding-left: 0px;}
	.company .com-info{float: left;padding-left: 20px;width: 70%;}
	 .company img{width: 190px;height: 205px;float: left;}
	.company .com-info h4{font-size: 20px;}

		
	
	
	.ability-list li{    width: 100%;margin: .8rem 0 0;}
	.ability-list .ability-box { overflow: hidden; position: relative; z-index: 5; width: 30%; float: left;}
	.ability-con { background: #f5f5f5;top: 0px; width: 70%; height: 468px; float: left; position: relative; left: 0px !important; right: 0px !important;opacity: 1 !important;}
	
	.news-detail .relate{line-height: 40px;height: auto;}
	.news-detail .relate .prev {float: none; max-width: 100%; width: 100%;}
	.news-detail .relate .next {float: none; max-width: 100%; width: 100%;}
	
	.achievement ul li{width: 25%;padding: 0 25px;margin-bottom: 10px;}
	
	.Idea-banner{height: auto;padding-bottom: .8rem;}
	.idea-wrapper{margin-top: .6rem;}
	.idea-wrapper .idea-list{width: 50%;}
	.idea-list .idea-item img{margin-bottom:.4rem;}
	.idea-list .idea-item .Isub{margin: .4rem auto .7rem}
	.boon-list{padding-top: .7rem;}
	.boon-list li{margin-bottom: .7rem;}
	.boon-list img{    height: 50px;}
    .boon-list p{color: #222222;font-size: 13px;margin-top: 25px;line-height: 25px;}
    .trains{margin-top: .4rem;padding-bottom: .8rem;}
    .boon-list li{width: 25%;}
    .Join-banner .join-btn{margin: 1rem auto 0;    width: 4.7rem;
    height: 1rem;
    line-height: 1rem;font-size:16px;}
    .life-swiper .gallery-top{height: 10rem;}
    .life-swiper .gallery-thumbs{height: 10rem;}
    .office-swiper {
	    padding-top: .8rem;
	    padding-bottom: 1rem;
	}
	.cultrue-banner{height: auto; padding-bottom: 20px;}
	.cultrue-wrap .logo-box {width: 100%;float: none;}
	.cultrue-wrap .logo-box img {margin: 3% 0;}
	.cultrue-wrap .logo-desc {width: 100%;float: none;}
	.concept-list .concept-item {
    	width: 33.33333%;
	    float: left;
	  
	    padding: 0 15px;
	    min-height: 315px;
	    margin-bottom: 20px;
	}
	
	.com-scale{    padding: .45rem 0;}
	.com-scale .scale-list h4{font-size: 22px;}
	.com-scale .scale-list p{font-size: 12px;}
	.abUs-team{height: auto;margin-bottom: 30px;}
	.com-team{padding:1.8rem 0;}
	.comTeam-list{margin:1rem 0 0;}


	.cTeamModal-contain{padding:.8rem 80px .8rem 4%;width:100%;height:100%;top:0px;left:0px;transform:translate(0,0);-webkit-transform:translate(0,0);}
	.cTeamModal-action{top:50%;right:0px;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
	
	
	.Banner-wrapper.abUs-comHist{padding:.5rem 0;background-size:cover;    height: auto;}
	.auCHist-man{width:100%;padding:0px;margin:1rem 0 0;}
	.auCHman-box.cur .year{width:50px;height:50px;line-height:50px;font-size:14px;margin-left:-25px;top:-33px;}
	.auCHman-box.cur .year:after{width:70px;height:70px;top:-10px;left:-10px;}
	.auCHistManSwiper-prev{left:0px;}
	.auCHistManSwiper-next{right:0px;}
	.auCHist-min{width:100%;padding:0 4%;}
	.auCHist-min{margin:1.2rem 0 0;}
	.auCHist-min .swiper-container{padding:0px 0 1rem;}
	
	
	/*战略合作*/
	.hospital-box:nth-child(1),
	.hospital-box:nth-child(2){width: 50%;}
	.hospital-box:nth-child(3){width: 100%;}
	.hospital-box:nth-child(2){padding-top: 0;}
	
	.abUs-partner .partner-list li{height:205px;}
	
}


@media all and (max-width:768px){
	
	/*-- Footer --*/
	.footer-container{padding:.5rem 0 1rem;}
	.footer-container .Fnav{width:100%;border-bottom:1px solid #e1e1e1;margin:0px;    min-height: initial;text-align: left;}
	.footer-container .Fnav dt{padding:0 2%;height:45px;line-height:45px;}
	.footer-container .Fnav dd{/*padding:0 0 10px*/;margin:0px;display:none;}
	.footer-container .Fnav dd a{padding:0 6%;height:40px;line-height:40px;}
	
	.index-cultrue{padding: 30px 0;}
	.index-cultrue .cul-box{width: 100%;float: none;padding:0 ;margin-bottom: 20px;}
     
     .one-eva .eva-year .year {
	    width: 50px;
	    height: 50px;
	    line-height: 50px;
    }
    .one-eva .eva-year .c-line{top: 20px;}
 	.evaluate-list .one-eva:first-child .eva-year{top: 25px;}
 	.one-eva .eva-item{padding-bottom: 15px;}
    	.evaluate-list .one-eva:first-child .eva-item{padding-top: 25px;}
    	
    	.evaluate-list .one-eva:last-child .eva-item{    padding-bottom: 55px;}
    	
    .one-eva .eva-item .eva-content { padding: 20px 15px 15px;}
    	.eva-item .eva-content h4{font-size: 15px;}
    	.eva-item .eva-content p{font-size: 12px;line-height: 20px;word-break: break-all;}
    .Modules .title{font-size: 26px;margin-bottom: .32rem;margin-top: .56rem;}
	.Modules .Msub{width: 60px;height: 4px;}
	.Modules .Msub::after{height: 4px;width: 30px;}
	
	
	.Column-tab ul li { 
		height: 35px;
	    line-height: 35px;
	    display: block;
	    float: left;
	}
	.Column-tab.CoreTech-tab ul li { 
		height: 35px;
	    line-height: 35px;
	    display: inline-block;
	    float: none;
	}
	.Column-tab .ico{display: none;}
	.index-abUs .abUs-desc p{text-align: left;}
	.Pro-list-wrapper .item-box{width: 100%;margin-right:0 ;float: none;margin-bottom: 30px;border: 1px solid #ddd;display: block;}
	.Pro-list-wrapper .item-desc{ height: auto; padding: 30px;}
	
	.Product-tab{height: 50px;line-height: 50px;}
.Product-tab ul li{      height: 50px;
    line-height: 50px;float: right; }
.Product-tab a{  padding: 0px 4px;  font-size: 12px;border-right: 1px solid #ccc;}

.Product-detail h3{text-align: center;font-size: 30px;margin: 30px 0;}

.drug-desc .left{width: 100%;float: none;height: auto;}
.drug-desc .left img{width: 100%;min-height: 200px;}
.drug-desc .right{width: 100%;border:0;float: none; padding: 0 ;height: auto;}
.drug-desc .right h4{font-size: 18px;color: #3096FB;margin-bottom: 20px;margin-top: 20px;}
.drug-desc .right .sub{width: 40px;height: 4px;margin-bottom: 20px;}
.drug-desc .right p{font-size: 12px;color: #6D6D6D;}
.Product-detail .effect{margin-top:32px ;margin-bottom: 35px;font-size: 14px;}
.Product-detail .tenet h4{font-size: 16px;color: #6D6D6D;}
	
	 .Banner-wrapper{height: 4.28rem;min-height: 200px;}
	.Banner-wrapper h4{font-size: 24px;padding-top:2.5rem;margin-bottom: .22rem;}
	.Banner-wrapper .Hsub{width:24px;height: 2px;}
	.Banner-wrapper p{font-size:14px;color: #FFFFFF;margin-top: .32rem;     letter-spacing: 0;padding: 0 10px;}
	.Com-list .com-item{border-bottom: 1px solid #DDDDDD;text-align: center;}

	.cultrue-wrap .logo-box { margin-top: 30px;}
	.news-center{margin-top: 30px;}
	.news-center .head-line{width: 100%;float: none;height: 250px;    position: relative;}
	.news-center .head-line img{width: 100%;height: 250px;}
	.news-center .head-line .desc{height: 60px;padding: 10px;}
	.news-center .head-line .date{width: 60px;height: 60px;padding: 10px 0;}
	.news-center .head-line h4{font-size:16px;margin-bottom: 5px;}
	.news-center .head-line p{font-size: 12px;max-width: 80%;}
	.news-center .hot-news{width: 100%;padding-left: 0px;float: none; margin-top: 30px;}
	.news-wapper{margin: 30px 0;}
	.news-list .news-item{padding: 10px;margin-bottom: 10px;}
	.news-list .news-item  .go-see{display: none;}
	.news-detail-wrapper{margin-top: 20px;margin-bottom: 40px;}
	.news-detail-wrapper .news-detail{width: 100%;float:none;border: 1px solid #DDDDDD;padding: 30px 25px60px;position: relative;}
	.news-detail h4{text-align: center;font-weight: normal;font-size: 27px;color: #333333;margin-bottom: 25px;}
	.news-detail-wrapper .hot-news-box{width:100%;padding-left: 0px;float: none;margin-top: 20px;}
	
	.Join-banner .join-btn {
	    margin: 1rem auto 0;
	    width: 4.7rem;
	    height: 1.5rem;
	    line-height: 1.5rem;
	    font-size: 16px;
	}	
	.achievement ul li{width: 50%;padding: 0 25px;margin-bottom: 10px;}
	.platform {
	    margin: 20px 0;
	    height: auto;
	}
	
	.com-overview{padding: .8rem 0;overflow: hidden;zoom: 1;background: url(../images/icon/mole.png) left bottom no-repeat;}
    	.com-overview .left{width: 100%;float: none;}
    	.com-overview .right{width: 100%;float: none;padding-left: 0px;  margin-top: 25px;}
	.cultrue-banner{height: auto; padding-bottom: 20px;}	
	.concept-list .concept-item {
    	width: 100%;
	    float: none;
	  
	    padding: 0 15px;
	    min-height: 200px;
	    margin-bottom: 20px;
	}	
	/*战略合作 */
	.hospital-box:nth-child(1),
	.hospital-box:nth-child(2),
	.hospital-box:nth-child(3){width: 100%;text-align: center;}
	.Teamwork-top>div{width: 100%;text-align: center;}
	.team-title{text-align: center;}
	
	
	.Com-list .com-desc .sub{margin: 0 auto;}
	.Com-list .com-desc .more{margin: 3.5% auto;}
	.Com-list .item-left,.Com-list .item-right{float: none;width: 100%;height: 280px;  padding: 8% 5%;}
    .Contact-ways{max-width: 760px;}
    .Contact-ways .way-item h4{font-size: 20px;}
	.Contact-ways .way-item{width: 100%;    height: auto;}
	
	.company-list{margin-top: 30px;overflow: hidden;zoom: 1;}
	.company-list .company{width: 100%;float: left;/*height: 200px;*/margin-bottom: 20px;}
	.company-list .company.odd{padding-right: 0px;}
	.company-list .company.even{padding-left: 0px;}
	.company .com-info{float: left;padding-left: 20px;width: 100%;}
	 .company img{width: 190px;height: 205px;float: none;margin: 0 auto;display: block;margin-bottom: 20px;}
	.company .com-info h4 { font-size: 20px;text-align: center;}
	
	
	.Column-tab a {
    padding: 0px .34rem 0 .34rem;

    font-size: 14px;}
	.Idea-banner{height: auto;padding-bottom: .8rem;}
	.idea-wrapper{margin-top: 1.2rem;}
	.idea-wrapper .idea-list{width: 100%;margin-bottom: .5rem;}
	.idea-list .idea-item img{margin-bottom:.8rem;}
	.idea-list .idea-item .Isub{margin: .8rem auto 1.4rem}
	
	
	.trains .train-item .left, .trains .train-item .right{
		width: 100%;
		float: none;
	}
	.life-swiper .gallery-top p{line-height: 25px;font-size: 15px;}
	
	
	/*投资者关系*/
.report-list{margin-top: 50px;margin-bottom: 40px;overflow: hidden;}
.report-imgs .img-item{width: 100%;margin: 0 ;margin-bottom: 20px;float: none;text-align: center;position: relative;}

.report-swiper{margin-bottom: 40px;}
.report-swiper .swiper-container{padding-bottom: 40px;}
.pdf-list .pdf-item{    width: 100%;position: relative;
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 40px 30px;}
 .pdf-list .pdf-item img{float: left;margin-right: 20px;}
.pdf-list .pdf-item.odd{margin-right:0px;}
.pdf-list .pdf-item.even{margin-left: 0px;}

.pdf-list .pdf-item .readLine{color: #555555;text-decoration: underline;font-size: 14px;position: absolute;margin-top: -10px;top: 65%;right: 20px;}

.pdf-list .pdf-item .download{
	width: 40px;
	height: 40px;

	position: absolute;
	right: 30px;
	top: 35%;
	margin-top: -26.5px;
}
.pdf-list .pdf-item .download:hover{
	background: url(../images/icon/download_on.png) no-repeat;
	background-size:100% ;
}
     
}

@media all and (max-width:640px){
.auCHmin-box {
	    padding: 0px;
	}
	.auCHmin-box .auCHmin-img {
	    width: 100%;
	    height: auto;
	    position: relative;
    }
    .auCHmin-box .auCHmin-block {
	    min-height: 0px;
	    padding: 1rem 4%;
	}

}

@media all and (max-width:580px){
	
    

    
}

@media all and (max-width:414px){

	html{font-size:21.5625px;}




}

@media all and (max-width:375px){
    
}


